In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [29]:
col_list = ['REFR_URLHOST','REFR_MEDIUM']
nov_data1 = pd.read_csv('Nov2020_pt1.csv', usecols = col_list)
nov_data2 = pd.read_csv('Nov2020_pt3.csv', usecols = [22,27])

In [42]:
nov_data2.columns = col_list
nov_data = pd.concat([nov_data1,nov_data2], ignore_index = True)

In [147]:
nov_social = nov_data[nov_data['REFR_MEDIUM'] == 'social']

In [204]:
#nov_social['REFR_URLHOST'] = nov_social['REFR_URLHOST'].str.replace('www.','')
#nov_social['REFR_URLHOST'] = nov_social['REFR_URLHOST'].str.replace('.com','')
#nov_social['REFR_URLHOST'] = nov_social['REFR_URLHOST'].str.replace('.cn','')
#nov_social['REFR_URLHOST'] = nov_social['REFR_URLHOST'].str.replace('tco','twitter')

<ipython-input-204-369e6b37dcb8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nov_social['REFR_URLHOST'] = nov_social['REFR_URLHOST'].str.replace('tco','twitter')

In [205]:
nov_social_group = nov_social.groupby('REFR_URLHOST').size()

In [206]:
nov_social_group = nov_social_group.sort_values(ascending = False)

In [ ]:
colors = ("#F9D9D9", "#C6E4EE", "#eedd82",
          "#90ee90", "beige", "beige")
fig, ax = plt.subplots(figsize =(10, 6))
wedges, texts, autotexts = ax.pie(nov_social_group[0:5], 
                                  autopct = '' ,
                                  textprops={'fontsize': 30},
                                  shadow = False,
                                  colors = colors,
                                  startangle = 90)
ax.legend(wedges, nov_social_group[0:5].index,
          loc ="center left",
          bbox_to_anchor =(1, 0, 0.5, 1))
  
plt.setp(autotexts, size = 15, weight ="bold")
  
# show plot
plt.tight_layout()
plt.savefig('referral.png',dpi = 1200)
plt.show()

In [201]:
nov_social_group

REFR_URLHOST
facebook                73023
instagram               13757
youtube                  5963
tco                      4344
linkedin                 2167
reddit                    479
pinterest                 115
quora                      30
github                     17
awayvk                      9
disqus                      7
newsbinator                 7
touchfacebook               5
businessfacebook            3
douban                      3
lprodfacebook               2
es-lafacebook               2
clickmymailru               2
xqillasourceforgenet        2
pelinkedin                  1
tr-trfacebook               1
tumblr                      1
verticaltheorytumblr        1
dtype: int64

In [37]:
x

         REFR_URLHOST REFR_MEDIUM www.kiva.org.1  internal
0                 NaN         NaN            NaN       NaN
1                 NaN         NaN            NaN       NaN
2                 NaN         NaN            NaN       NaN
3        www.kiva.org    internal            NaN       NaN
4        www.kiva.org    internal            NaN       NaN
...               ...         ...            ...       ...
4999898           NaN         NaN            NaN       NaN
4999899           NaN         NaN   www.kiva.org  internal
4999900           NaN         NaN            NaN       NaN
4999901           NaN         NaN   www.kiva.org  internal
4999902           NaN         NaN   www.kiva.org  internal

[9999852 rows x 4 columns]

In [61]:
nov_social

        REFR_URLHOST REFR_MEDIUM
136         facebook      social
322         facebook      social
581         facebook      social
808         facebook      social
821                t      social
...              ...         ...
9999468     facebook      social
9999598     facebook      social
9999604     facebook      social
9999620     facebook      social
9999742     facebook      social

[99941 rows x 2 columns]